{
    "rules": {
        "semi": ["error", "always"],
        "quotes": ["error", "double"]
    },
    "parser": "@babel/eslint-parser",
    "parserOptions": {
        "ecmaVersion": 8,
        "ecmaFeatures": {
          "experimentalObjectRestSpread": true,
          "impliedStrict": true,
          "classes": true
        }
    }
}